﻿<div id="navigationBar">
    <img src= "@Url.Content("~/Content/Images/sheepla.png")" alt="Sheepla logo" class="logo" />
    <ul>
        <li>
            @Html.ActionLink("Strona głowna", "Index", "Home")
        </li>
    </ul>
</div>

