﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Sheep.Enums
@model Sheep.ViewModels.Sheep.SheepPageViewModel
@using (Html.BeginForm("Index", "Home"))
{
    @Html.ValidationSummary(true)<br />
    
    @Html.HiddenFor(x => x.OperationChoosen)
    <table>
        <tr>
            <td style="width: 250px">
                @Html.LabelFor(x => x.XmlString)
            </td>
            <td>
                @Html.TextBoxFor(x => x.XmlString)
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.XmlString)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.SendAjax)
            </td>
            <td>
                @Html.CheckBoxFor(x => x.SendAjax)
            </td>
            <td>
                @Html.ValidationMessageFor(x => x.SendAjax)
            </td>
        </tr>
        <tr>
            <td>Operacje
            </td>
            <td>
                <button type="button" value="@((int)OperationChoosenEnum.DeleteShepherd)">Delete Shepherd</button>
                <br />
                <button type="button" value="@((int)OperationChoosenEnum.CreateShepherdWithSheep)">Create Shepherd With Sheep</button><br />
                <button  type="button" value="@((int)OperationChoosenEnum.ListAllShepherds)">List All Shepherds</button><br />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Response)</td>
            <td colspan="2">
                <div style="width: 400px; min-height: 300px; margin-top: 20px" id="responseDiv">@Model.Response</div>
            </td>
        </tr>
    </table>
}

@section js
{
    <script type="text/javascript">
        $(function () {
            $('button').on('click', function () {
                $('#OperationChoosen').val($(this).val());
                if (!$('#SendAjax').prop('checked')) {
                    $('form').submit();
                } else {
                    $('form').validate();
                    if ($('form').valid()) {
                        $.post('@Url.Action("SendRequest", "Api")', {
                            XmlString: $('#XmlString').val(),
                            OperationChoosen: $('#OperationChoosen').val()
                        }).done(function (data) {
                            if (data.Success == true) {
                                $('#responseDiv').empty();
                                $('#responseDiv').html(data.Data
                                    .replace(/\u003c/g, '&lt;')
                                    .replace(/\u003e/g, '&gt;'));
                            } else {
                                //prościej będzie tak wyświetlić błędy walidacji, jak by trzeba było jsonem to growl chyba najlepszy
                                $('form').submit();
                            }
                        });
                    }
                }
            });
        });
    </script>
}
