﻿@using SquishIt.Framework
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @MvcHtmlString.Create(
            Bundle.Css()
                .AddDirectory("~/Content/Site")
                .ForceRelease()
                .Render("~/Content/Styles_combined_#.css"))

    @MvcHtmlString.Create(
            Bundle.JavaScript()
                .AddDirectory("~/Scripts/Site")
                .ForceRelease()
                .Render("~/Scripts/Javascript_combined_#.js"))

    @RenderSection("css", false)
</head>

<body>
    @*Można by sobie tutaj renderować partiala z child actionem i robić dymaniczne menu, ale to raczej nie ma przy takim małym projekciku sensu*@
    <div class="bodyContentHolder">
        @Html.Partial("Partial/_Navigation")
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
<footer>
    @RenderSection("js", false)
</footer>
