﻿body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: rgb(215, 213, 213);
}

header,
footer,
nav,
section
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.content
{
    background-color: white;
    width: 75%;
    margin: auto;
    border: 2px solid;
    -ms-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px #888888;
    -ms-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px;
}

button
{
    width: 250px;
}

#navigationBar
{
    float: left;
    position: fixed;
    border: 2px solid;
    -ms-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px #888888;
    -ms-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
    background-color: white;
    width: 10%;
}

.bodyContentHolder {
    position: relative;
}

.logo {
    display: block;
}